*.db
*.log
*.log.*
*.swp

secrets.yaml
known_devices.yaml
groups.yaml
zigbee.db*
zwscene.xml
zwcfg_*
ecobee.conf
pyozw.sqlite
.ios.conf
OZW_Log.txt
options.xml
.ring_cache.pickle
.uuid
plex.conf
*.pickle
.omv_cookies.json
www/image/mike.jpg
www/image/trish.jpg
home-assistant_v2.db-*
harmony_*.conf

deps
.cloud
.storage
custom_components

www/image/mail_and_packages

FLUME_TOKEN_FILE*